<!doctype html>
<html lang="en">
    $partial("templates/partials/header.html")$
    <body style="margin-top: 1rem;">
        <header>
            <a id="back" href="/" >..</a>
        </header>
        <main role="main">
            <h1>$title$</h1>
            $body$
        </main>
        $partial("templates/partials/footer.html")$
        <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
        <script src="/scripts/prism.js"></script>
        <script src="/scripts/default.js"></script>
    </body>
</html>
